{% extends '__base__.html' %}

{% block title %}HomePage - MateLook{% endblock %}

{% block beforehead %}
{% endblock %}

{% block navbar %}
    {% import "navbar.html" as navbar %}
    {{ navbar.nav(user) }}
{% endblock %}

{% block content %}
    <!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3> Welcome come to {{ mate.full_name }} page. </h3>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                     <ul class="flashes">
                        {% for message in messages %}
                            <div class="message_flash"><h2>{{ message }}</h2></div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div><!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /blue -->

    <!-- *****************************************************************************************************************
     CONTENT
     ***************************************************************************************************************** -->
     <div class="container mtb">
        <div class="row">
            <div class="col-lg-8">
                <h4>Personal Information</h4>
                <div class="hline"></div>
                {% if mate.zid in user.getMates() or mate.zid == user.zid %}
                    <p><b>Date:</b> {{ mate.birthday }} </p>
                    <p><b>Email:</b> {{ mate.email }} </p>
                    <p><b>Program:</b> {{ mate.program }} </p>
                    {% if mate.home_suburb %}
                        <p><b>Suburb:</b> {{ mate.home_suburb }}</p>
                    {% endif%}
                {% else %}
                  <p><b>Date:</b> Only visible for friends </p>
                    <p><b>Email:</b> Visible for froends </p>
                    <p><b>Program:</b> Only visible for friends </p>
                    {% if mate.home_suburb %}
                        <p><b>Suburb:</b> Only visible for friends</p>
                    {% endif%}
                {% endif %}
                <form action="{{  url_for('mateManager') }}" method="POST">
                    {% if mate.zid in user.getMates() %}
                        <input type="hidden" name="m_zid", value={{ mate.zid }}>
                        <input type="hidden" name="page", value={{ pag.page }}>
                        <input type="hidden" name="matelook", value="matelook">
                        <input type="submit" name="action" value="delete" class="btn btn-theme btn-xs"/>
                    {% elif mate.zid in user.getRequests() %}
                        <input type="submit" name="action" value="Pendding" disabled="disabled" class="btn btn-theme btn-xs"/>
                    <!-- {% elif mate.zid == user.zid %} -->
                    {% else %}
                        <input type="hidden" name="m_zid", value={{ mate.zid }}>
                        <input type="hidden" name="page", value={{ pag.page }}>
                        <input type="hidden" name="matelook", value="matelook">
                        <input type="submit" name="action" value="add" class="btn btn-theme btn-xs"/>
                    {% endif %}
                </form>

                <div class="spacing"></div>
                <h4>Recent Posts</h4>
                <div class="hline"></div>
                <br>
                <ul class="popular-posts">
                    {% import "print_post.html" as ppost %}
                    {{ ppost.render_posts(mate.getPosts(), pag.begin, pag.end)}}
                    {% import "pagination.html" as pagination %}
                    {{ pagination.pagination_mate_post('matelook', pag, mate.zid)}}
                </ul>
            </div>

            <!-- *****************************************************************************************************************
            RIGHT SIDE
            ***************************************************************************************************************** -->
            <div class="col-lg-4" style="float:right">
                {% if mate.zid in user.getMates() or mate.zid == user.zid %}
                    {% import "right.html" as right %}
                    {{ right.mate_list(mate.getMatesWithInfo()) }}
                {% else %}
                    <h4>Mate Lists</h4>
                    <div class="hline"></div>
                    <br/> 
                    <p><b> Only visible for friends </b></p>
                    <div class="spacing"></div>
                {% endif %}
                <h4>Course Lists</h4>
                <div class="hline"></div>
                    {% if mate.zid in user.getMates() or mate.zid == user.zid %}
                        {% for course in mate.getCourses() %}
                            <p><a href="#"><i class="fa fa-angle-right"></i>{{ course }}</a> </p>
                        {% endfor %}
                    {% else %}
                        <br/> 
                        <p><b> Only visible for friends </b></p>
                    {% endif %}
        </div>
    </div>
{% endblock %}