{% macro render_posts(posts, begin, end) %}
    {% for post in posts[begin : end] %}
        <li>
        <div class="col-lg-2">
            <a href="{{ url_for('matelook', u_zid=post.zid) }}"><img src="{{ url_for('static', filename='profile/' + post.getPosterName()[1]) }}" alt="Popular Post" style="width:70px;height:70px;" class="img-circle"></a>
        </div>
        <div class="col-lg-10">
            <p>
                <csmall>
                    Posted: {{ post.time[:-5] }}.
                </csmall> | 
                <csmall2>
                    By: <a href="#">{{ post.getPosterName()[0] }}</a> - {{ post.commentsSize }} Comments
                </csmall2>
            </p>
            <p><a href="{{ url_for('postlook', pid=post.pid) }}"> {{ post.message }} </a></p>
            <div style="float:right">
                <p><a href="{{ url_for('postlook', pid=post.pid) }}">>> Reply <<</a></p>
            </div>
        </div>
        </li>
        <br><br>
    {% endfor %}
{% endmacro %}

{% macro render_myposts(posts, begin, end) %}
    {% for post in posts[begin : end] %}
        <li>
        <div class="col-lg-2">
            <a href="{{ url_for('matelook', u_zid=post.zid) }}"><img src="{{ url_for('static', filename='profile/' + post.getPosterName()[1]) }}" alt="Popular Post" style="width:70px;height:70px;" class="img-circle"></a>
        </div>
        <div class="col-lg-10">
            <p><csmall>Posted: {{ post.time[:-5] }}.</csmall> | <csmall2>By: {{ post.getPosterName()[0] }} - {{ post.commentsSize }} Comments</csmall2> | <csmall3><a href={{ url_for('myposts', action='delete', pid=post.pid)}}> Delete </a></csmall3></p>
            <p><a href="{{ url_for('postlook', pid=post.pid) }}"> {{ post.message }} </a></p>
            <div style="float:right">
                <p><a href="{{ url_for('postlook', pid=post.pid) }}">>> Reply <<</a></p>
            </div>
        </div>
        </li>
        <br><br>
    {% endfor %}
{% endmacro %}

{% macro render_notifications(notifications, begin, end) %}
    {% set notifications = notifications[1:] %}
    {% for notification in notifications[begin : end] %}
        <li>
        <div class="col-lg-2">
            <a href="{{ url_for('matelook', u_zid=notification.from_zid ) }}"><img src="{{ url_for('static', filename='profile/' + notification.from_img) }}" alt="Popular Post" style="width:70px;height:70px;" class="img-circle"></a>
        </div>
        <div class="col-lg-10">
            <csmall>Send by <a href="{{ url_for('matelook', u_zid=notification.from_zid ) }}">{{ notification.from_name }}</a><csmall> | <csmall2> On {{ notification.time }}</csmall2><br>
   
            {% if notification.noti_type == 'add' %}
                <p><a href="{{ url_for('notifications') }}"> 
                    {{ notification.from_name }} want add you as friend.
                    <form action="/notifications" method="POST">
                        <input type="hidden" name="nid", value={{ notification.nid }}>
                        <input type="submit" name="action" value="accept" class="btn btn-theme btn-xs"/>
                        <input type="submit" name="action" value="decline" class="btn btn-theme btn-xs"/>
                    </form>
                </a></p>
            {% elif notification.noti_type == 'delete' %}
                <p><a href="{{ url_for('notifications') }}"> 
                    {{ notification.from_name }} has release your friendship.
                    <form action="/notifications" method="POST">
                        <input type="submit" name="action" value="look" class="btn btn-theme btn-xs"/>
                        <input type="hidden" name="nid", value={{ notification.nid }}>
                        <input type="submit" name="action" value="ignore" class="btn btn-theme btn-xs"/>
                    </form>
                </a></p>
            {% elif notification.noti_type == 'reply' %}
                <p><a href="{{ url_for('notifications') }}"> 
                    {{ notification.from_name }} replied your post.
                    <form action="/notifications" method="POST">
                        <input type="hidden" name="nid", value={{ notification.nid }}>
                        <input type="submit" name="action" value="read" class="btn btn-theme btn-xs"/>
                        <input type="submit" name="action" value="ignore" class="btn btn-theme btn-xs"/>
                    </form>
                </a></p>
            {% elif notification.noti_type == 'accept' %}
                <p><a href="{{ url_for('notifications') }}"> 
                    {{ notification.from_name }} has accepted your request. 
                    <form action="/notifications" method="POST">
                        <input type="hidden" name="nid", value={{ notification.nid }}>
                        <input type="submit" name="action" value="look" class="btn btn-theme btn-xs"/>
                        <input type="submit" name="action" value="ignore" class="btn btn-theme btn-xs"/>
                    </form>
                </a></p>
            {% elif notification.noti_type == 'decline' %}
                <p><a href="{{ url_for('notifications') }}"> 
                    {{ notification.from_name }} has declined your request. 
                    <form action="/notifications" method="POST">
                        <input type="hidden" name="nid", value={{ notification.nid }}>
                        <input type="submit" name="action" value="look" class="btn btn-theme btn-xs"/>
                        <input type="submit" name="action" value="ignore" class="btn btn-theme btn-xs"/>
                    </form>
                </a></p>
            {% endif %}
        </div>
        </li>
        <br><br>
    {% endfor %}
{% endmacro %}
