{% extends '__base__.html' %}

{% block title %}HomePage - MateLook{% endblock %}

{% block beforehead %}
{% endblock %}

{% block navbar %}
    {% import "navbar.html" as navbar %}
    {{ navbar.nav(user) }}
{% endblock %}

{% block content %}
    <!-- *****************************************************************************************************************
     BLUE WRAP
     ***************************************************************************************************************** -->
    <div id="blue">
        <div class="container">
            <div class="row">
                <h3> Welcome back, {{ user.full_name }}. </h3>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                     <ul class="flashes">
                        {% for message in messages %}
                            <div class="message_flash"><h2>{{ message }}</h2></div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            </div><!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /blue -->

    <!-- *****************************************************************************************************************
     CONTENT
     ***************************************************************************************************************** -->
     <div class="container mtb">
        <div class="row">
            <div class="col-lg-8">
                <h4>Find New Friends</h4>
                <div class="hline"></div>
                <div class="spacing"></div>
                <form action="{{ url_for('search', user=user) }}" method="GET">         
                    <div  class="input-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Search something" style="width:680px;margin:0 auto">
                            <span class="input-group-btn">
                            <input type="submit" class="btn btn-secondary" value="Search" />
                            </span>
                        </div>
                    </div>
                </form>

                <br>
                <br>
                <!-- print search query results -->
                {% if query %}
                    <h4>Results</h4>
                    <div class="hline"></div>
                    <div class="spacing"></div>
                    {% if users %}
                        {% for mate in users[pag.begin : pag.end] %}
                        <div class="col-lg-2">
                            <a href="{{ url_for('matelook', u_zid=mate.zid) }}"><img receiversrc="{{ url_for('static', filename='profile/' + mate['image']) }}"alt="Popular Post" style="width:70px;height:70px;" class="img-circle"></a>
                        </div>
                        <div class="col-lg-10">
                            <p><a href="{{ url_for('matelook', u_zid=mate.zid) }}"> {{ mate.full_name }} </a></p>
                            <form action="{{  url_for('mateManager') }}" method="POST">
                                {% if mate.zid in user.getMates() %}
                                    <input type="hidden" name="m_zid", value={{ mate.zid }}>
                                    <input type="hidden" name="page", value={{ pag.page }}>
                                    <input type="hidden" name="query", value={{ query }}>
                                    <input type="submit" name="action" value="delete" class="btn btn-theme btn-xs"/>
                                {% elif mate.zid in user.getRequests() %}
                                    <input type="submit" name="action" value="Pendding" disabled="disabled" class="btn btn-theme btn-xs"/>
                                {% elif mate.zid == user.zid %}
                                {% else %}
                                    <input type="hidden" name="m_zid", value={{ mate.zid }}>
                                    <input type="hidden" name="page", value={{ pag.page }}>
                                    <input type="hidden" name="query", value={{ query }}>
                                    <input type="submit" name="action" value="add" class="btn btn-theme btn-xs"/>
                                {% endif %}
                            </form>
                        </div>
                        <br><br><br><br><br><br>
                        {% endfor %}
                    {% else %}
                        <h3> {{ query }} not found. </h3>
                    {% endif %}
                    <!-- pagination -->
                    {% import "pagination.html" as pagination %}
                    {{ pagination.render_pagination('/search/user', query, pag)}}
                {% endif %} <!-- end if query --> 

                <div class="spacing"></div>

                    <h4>Recomends</h4>
                    <div class="hline"></div>
                    <div class="spacing"></div>
                    {% for mate in user.mateSuggestions()[pag.begin : pag.end] %}
                        <div class="col-lg-2">
                            <a href="{{ url_for('matelook', u_zid=mate.zid) }}"><img src="{{ url_for('static', filename='profile/' + mate['image']) }}" alt="Popular Post" style="width:70px;height:70px;" class="img-circle"></a>
                        </div>
                        <div class="col-lg-10">
                            <p><a href="{{ url_for('matelook', u_zid=mate['zid']) }}"> {{ mate['name'] }} </a>
                            <em> ({{ mate['common'] }} common friends)</em></p>
                            <form action="{{  url_for('mateManager') }}" method="POST">
                                <input type="hidden" name="m_zid", value={{ mate.zid }}>
                                <input type="hidden" name="page", value={{ pag.page }}>
                                <input type="hidden" name="suggestion", value="suggestion">
                                <input type="submit" name="action" value="add" class="btn btn-theme btn-xs"/>
                            </form>
                        </div>
                        <br><br><br><br><br><br>
                    {% endfor %}
                    <!-- pagination -->
                    {% import "pagination.html" as pagination %}
                    {{ pagination.render_pagination('/search', '', pag)}}
            </div>

        
            <!-- *****************************************************************************************************************
            RIGHT SIDE
            ***************************************************************************************************************** -->
            <div class="col-lg-4" style="float:right">
                {% import "right.html" as right %}
                {{ right.search() }}
                {{ right.mate_list(user.getMatesWithInfo()) }}
            </div>
        </div>
    </div>
{% endblock %}